<div class="row">
    <div  class="col-xs-12">
        <form>
            <div class ="row">
                <div  class="col-sm-5 form-group" >
                    <label for="name">Name</label>
                    <input type="text" appChangeColor id="name" class="form-control" #nameImput >
                </div>
                <div  class="col-sm-2 form-group" >
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" class="form-control" #cantidadInput>
                </div>
            </div>

            <div class ="row">
                <div  class="col-sm-12" >
                    <button class="btn btn-success" type="button" (click)="onAddItem()">Adicionar</button>
                    <button class="btn btn-danger" type="button" (click)="onDeleteItem()">Eliminar</button>
                    <button class="btn btn-primary" type="button" (click)="onClearItem()">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>
